{% extends "base.html" %}

{% block title %}MOX - Dive in.{% endblock %}

{% block header %}
<a href="{{ url_for('home') }}">MOX</a>
{% endblock %}

{% block main %}
<section id="welcome">
    Immerse Yourself
</section>
<section id="tagline">
    Go ahead, dive in.
</section>
<section id="btn">
    {% include '_google_sign_up_button.html' %}
</section>
<section id="orsep">
    <a href="#" class="or" tabindex="-1">or</a>
</section>
<section id="create-account-btn">
    <a href="{{ url_for('signup') }}" class="create-account">Create account</a>
</section>
<section id="legal">
    By signing up, you agree to the <a href="{{ url_for('terms') }}" class="button" target="_blank">Terms of Service</a> and <a href="{{ url_for('privacy') }}" class="button" target="_blank">Privacy Policy</a>, including <a href="{{ url_for('cookies') }}" class="button" target="_blank">Cookie Use</a>.
</section>
<section id="alreadyhere">
    Already have an account?
</section>
<section id="login">
    <a href="{{ url_for('signin') }}" class="signin">Sign in</a>
</section>
  
{% endblock %}

{% block footer %}
<p><a href="{{ url_for('accessibility') }}" target="_blank">Accessibility</a> <a href="{{ url_for('helpcenter') }}" target="_blank">Help Center</a> <a href="{{ url_for('sendfeedback')}}" target="_blank">Send Feedback</a></p>
© 2024 MOX SP.
{% endblock %} 